*{
    padding: 0;
    margin: 0;
    text-decoration: none;
}

.hero{
    background-image: url(../img/hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 80vh;
    text-align: center;
    display: table;
    font-family:monospace;
}


.hero h1{
    color: white;
    font-size: 100px;
    padding-bottom: 20px;
    text-shadow: 
        0 0 5px #000,
        0 0 10px #000,
        0 0 15px #000,
        0 0 20px rgba(0,0,0,0.7);
}
.hero p{
    color: white;
    font-size: 50px;
    margin: 0 auto;
}
.logo{
     text-align: left;
     margin: 0 auto; 
}   
.logo-img{
    height: 70px;
    width: 70px;
}
body{
    background-color: black;
}
header{
    background-color: black;
    padding: 10px;
    
}
nav{
    font-size: 17px;
    margin: 10px;
    margin-bottom: 10px;
    text-align: right;
    color: white;
}

a{
    color: white;
}

ul a{
    padding: 5px;
    border-radius: 50%;
    border: 2px solid white;
    display: inline-block;
    vertical-align: middle;
    
}


.platos{
    color: black;
    top: 20%;
    left: 30%;
    width: 30%;
    height: 40%;
    text-align: center;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    margin: 0 auto 20px;
    margin-top: 30px;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}

.platos li{
    padding: 5px 0;
    position: relative;

}
.platos:hover{
    transform: scale(1.1);
}


img{
    width: 150px;
    height: 150px;
    border-radius: 10%;
}

.Precio{
    border-radius: 10%;
    background-color: rgb(255, 240, 109);
    width: 30%;
    text-align: center;
    border-radius: 40px;
    margin: 0 auto;
}



